
<mat-toolbar class="navbar">
        <mat-toolbar-row class="fejlec">
          <span>Kovács és fia szobafestő és mázoló Kft.</span>
    </mat-toolbar-row>
        <mat-toolbar-row class="gombok">
          <mat-button routerLink="">Főoldal</mat-button>
          <mat-button routerLink="referencia">Referenciák</mat-button>
          <mat-button routerLink="ar">Árak</mat-button>
          <mat-button routerLink="ajanlatkeres">Ajánlatkérés</mat-button>
    </mat-toolbar-row>
</mat-toolbar>
<router-outlet></router-outlet>